# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

openssl/

m4/

LinuxPack/

installer/

gSoap/

Lib/

Documentation/html/

EclipseProjects/.DS_Store

EclipseProjects/

Documentation/

boost/

.DS_Store
